
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/miama');

.playwrite-gb-s-miama{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
/* Header section style start */

body{
    margin: 0 auto;
    background-color: black;
    max-width: 1440px;
}
.header-section-nav{
    margin-left: 190px;
    margin-right: 214px;
    mask-type: 60px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.band{
    font-size: 2.25rem;
    font-weight: 900;
    color: #E6533C;
}

.band:hover{background-color: cadetblue; border-radius: 10px; padding: 16px 22px;}

.navbar-titles{
    display: flex;
    justify-content: space-between;
    list-style: none;
   
}

.nav-title a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.nav-title a:hover{background-color: rgb(95, 143, 192);
border-radius: 10px; color: white;}

.active{
    background-color: red;
    color: white;
    border-radius: 30px;
    gap: 30px;
}

/* Header section style end */

/* Banner section start */
.Banner-section{
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    margin-right: 140px;
    gap: 50px;
    /* margin-top: 190px; */
}

.banner-title{
    width: 600px;
    height: 440px;
}

.banner-title-text{
    color: #FFFFFF;
    font-size: 78px;
    font-weight: mixed;
}

.shape{
    font-family: 'Miama', sans-serif;
    font-size: 78px;
                                                
}

.banner-description{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;    
}

.btn-primary{
    background-color: red;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    padding: 16px 46px;
    margin-right: 30px;
    border: none;
}

.btn-primary:hover{background-color: black;}

.btn-primary-1{
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    padding: 16px 46px;
    margin-right: 30px;
    border: 1px solid white;
}

.btn-primary-1:hover{background-color: red;}

.badge{
    background-color: grey;
    border: 1px solid;
    text-align: center;
    width: 193px;
    height: 100px;
    border-radius: 10px;
    
}
.badge h3{
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;margin-top: 15px;
    margin-bottom: 10px;
}

.badge p{
    color: white;
    margin-top: 0px;
    font-size: 13px;
    
}

.badge-1{
    background-color: #303030;
    border: 1px solid;
    text-align: center;
    width: 193px;
    height: 100px;
    border-radius: 10px;
    
}

.badge-1 h3{
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 10px;
}

.badge-1 p{
    color: white;
    margin-top: 0px;
    font-size: 13px;
    
}
/* Banner section end */


/* Habits Section start */
.habits-section{
margin-left: 212px;
margin-right: 144px;
}
.habits-text-part{
    text-align: center;
    margin-left: 285px;
    margin-right: 285px;
    margin-top: 70px;
}

.habits-text-part h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.habits-text-part p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 30px;
}

.habits-image-part{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}

.movement {
    text-align: center;
}

.movement h4{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.movement p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.movement img{
    max-width: 100%;
    border-radius: 60%;
}
/* Habits Section end */


/* Run an extra section style start */
.run-an-extra-section{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    max-height: 372px;
    margin: 100px 190px;
    background-color: #222222;
    border-radius: 20px;
}

.run-an-extra-title{
    margin: 30px 32px;
    width: 366px;
    height: 312px;
}
.run-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.run-description{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}

.run-an-extra-image img{
    max-width: 100%;
    border-radius: 20px;
    margin: 30px 32px;
    width: 366px;
    height: 312px;
}

.run-an-extra-title > .btn-primary a{
    text-decoration: none;
    color: #FFFFFF;
    border: none;
}
/* Run an extra section style end */